* {
    box-sizing: border-box;
}
.navbar{
    z-index: 10;
}
.button1 {
    height: 70px;
    width: 190px;
    border: 2px solid black;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    background: transparent;
    z-index: 1;
}


.button1::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, blue,purple);
    z-index: -1;
    transition: left .4s ease;
}

.button1:hover::before {
    left: 0;
}
.button1:hover::after {
right: 0;

}
.button1::after {
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background:linear-gradient(to left, blue ,purple);
    z-index: -1;
    transition: right .4s ease;
}



.button1:hover {
    color: white;
}

.image1 {
    position: relative;
    animation: juicy 1s ease infinite ;

}
.image2{
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .4s ease-out;
}
.image2:hover{
    transform: scale(1.02);
}

.content{

    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.562);
    flex-direction: column;
    gap: 20px;
    color: black;
    font-size: 18px;
    z-index: 2;
    transition:top .3s ease ;
    padding: 0 30px;
    text-align: center;

}
.image2:hover .content{
    top: 0;
}

@keyframes juicy {

    0%,
    100% {
        top: 7px;
    }

    50% {
        top: -7px;
    }


}



@media screen and (max-width:992) {

    .menu1 {
        width: 100%;
    }

    .main4 {
        height: 600px;
    }

    image4 {
        width: 100%;
    }

}